.homeCanvas{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    filter: blur(10px);
    position: absolute;
}
.homeCanvasContainer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.046);
    z-index: 3;
    position: relative;
    height: 100vh;
    display: flex;
    color: white;
}
.homeScrollBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 100%;
    left: 50%;
    top: 500px;
    padding: 0.5vmax;
    animation: scrollPop 0.5s ease-in infinite alternate;
}
.homeScrollBtn>svg{
    font-size: 3vmax;
}
.homeContainer{
    background-color: white;
    padding-top: 4vmax;
    border-radius: 0 0 150px 150px;
    border-bottom: 200px solid white;
    position: relative;
    z-index: 1;
    transition: 0.1s ease-in-out;
}

.homeContainer:hover{
    box-shadow: 8px 4px 8px 4px rgba(242, 241, 241, 0.13);
}

.homeContainer >h3{
    text-align: center;
    color: rgba(22, 20, 20, 0.904);
    padding: 4vmax;
}

.homeSkills{
    transform: translateY(-200px);
    background-color: hsl(219, 48%, 8%);
    height: 1500px;
    position: relative;
    padding: 200px;
    margin-bottom: -200px;
    box-sizing: border-box;
    perspective: 450;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
}

.homeSkills>h3{
    color: white;
    text-align: center;
    margin-bottom: 4vmax;
    font-size: 4vmax;
}

.homeCubeSkills{
    height: 150px;
    width: 150px;
    animation: cubeRotation 20s linear infinite alternate;
    transform-style: preserve-3d;
}

.homeCubeSkillsFaces{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgb(0,0,0);
    position: absolute;
    width: inherit;
    height: inherit;
}
.homeCubeSkillsFaces >img{
    width: inherit;
    height: inherit;
    opacity: 0.7;
}

.homeCubeSkillsFace1{
    transform: translate3d(0,0,80px);
}
.homeCubeSkillsFace2{
    transform: rotateY(180deg) translate3d(0,0,80px);
}
.homeCubeSkillsFace3{
    transform: rotateY(-90deg) translate3d(0,0,80px);
}
.homeCubeSkillsFace4{
    transform: rotateY(90deg) translate3d(0,0,80px);
}
.homeCubeSkillsFace5{
    transform: rotateX(90deg) translate3d(0,0,80px);
}
.homeCubeSkillsFace6{
    transform: rotateX(-90deg) translate3d(0,0,80px);
}
.cubeShadow{
    width: 300px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 50%;
    animation: cubeShadow 1s ease-in-out infinite alternate;
    filter: blur(3px);
}
.homeSkillsBox{
    background-color: rgb(37, 26, 94);
    padding: 0 2vmax;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: -300px;
    animation-duration:  1s; 
    animation-timing-function: linear;
    animation-fill-mode:  forwards;
}
.homeSkillsBox>svg{
    font-size: 5vmax;
    color: aliceblue;
    transition: all 0.5s;
    margin: 10px;
}
.homeSkillsBox>svg:hover{
    transform: scale(1.5);
}

.homeCodingPlatforms{
    background-color: white;
    padding-top: 4vmax;
    transform: translateY(-200px);
    border-radius: 150px 150px 0 0;
    position: relative;
    margin-bottom: -200px;
    box-sizing: border-box;
    min-height: 900px;
}
.homeCodingPlatforms>h3{
    text-align: center;
}

.platformWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vmax;
    width: 80%;
    margin: auto;
}

@keyframes cubeRotation{
    to {
        transform: rotateY(360deg) rotateX(480deg) rotateZ(720deg);
    }
}
@keyframes cubeShadow{
    to {
        transform: scale(1.2) translateY(-10px);
    }
}

@keyframes homeSkillsBoxAnimationOn{
    from{
        right: -300px;
    }
    to{
        right: 0px;
    }
}
@keyframes homeSkillsBoxAnimationOff{
    from{
        right: 0px;
    }
    to{
        right: -300px;
    }
}

@keyframes scrollPop {
    to{
        transform: translateY(10px);
    }
}

.typing-effect {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    font-size: 4rem;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide any overflow content */
  }
  
  .typing-effect span {
    background-image:linear-gradient(to LEFT, #0B111E, #1f267f,  rgb(149, 128, 255));  /* Define your gradient colors */
  -webkit-background-clip: text; /* Apply the gradient to the text */
  color: transparent; 
    border-right: 2px solid #333;
    padding-right: 5px; /* Add some padding to give space for the cursor */
    animation: typing 2s steps(40, end), blink-caret 0.5s step-end infinite;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #333;
    }
  }
  
