.footer{
    background-color: rgb(6, 11, 23);
    padding: 3vmax;
    display: grid;
    grid-template-columns: 1fr 200px;
}
.footer>div>h5{
    color: white;
    border-bottom: 1px solid white;
    width: 120px;
    margin-bottom: 20px;
    padding: 10px 0;
}
.footer>div>p{
    color: aliceblue;
    width: 60%;
}
.footer>div>h6{
    color: aliceblue;
    padding: 10px 0;
}
.footer >div:last-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.75rem;
}
.footer>div>a{
    color: aliceblue;
    transition: all 0.5s;
}

.footerContactBtn{
    background-color: aliceblue;
    padding: 5px;
    width: 120px;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    display: block;
    font-weight: bold;
    transition: ease-in-out 0.5s;
    margin: 2vmax 0;
}
.footerContactBtn > p{
    color: black;
}
.footerContactBtn:hover{
    background-color: transparent;
    border: 1px solid aliceblue;
}
.footerContactBtn > p:hover{
    color: aliceblue;
}

.footer>div>a:nth-child(2):hover{
    color: rgb(43, 116, 226);
}
.footer>div>a:nth-child(3):hover{
    color: rgb(92, 43, 226);
}

.footer>div>a:nth-child(5):hover{
    color: rgb(195, 47, 240);
}

.footer>div>a:nth-child(4):hover{
    color: rgb(156, 206, 250);
}

@media screen and (max-width:768px) {
    .footer{
        grid-template-columns: 100%;
    }
    .footer>div>:first-child{
        width: 100%;
    }
    .footer >div:last-child{
        width: 100%;
        flex-direction: row;
    }
    .footer>div:last-child a{
        display: block;
        padding: 5px;
    }
    .footer>div>a:nth-child(2){
        color: rgb(43, 116, 226);
    }
    .footer>div>a:nth-child(3){
        color: rgb(92, 43, 226);
    }
    
    .footer>div>a:nth-child(5){
        color: rgb(195, 47, 240);
    }
    
    .footer>div>a:nth-child(4){
        color: rgb(156, 206, 250);
    }
    
}